@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing:border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin:0;
}
