.card {
	border-radius: 12px;
	box-shadow: 0 1px 8px rgba(254, 250, 250, 0.25);
	background-color: rgb(35, 34, 34);
}

.note-section {
	margin: 3% auto;
	text-align: center;
	width: 70%;
}

.note-section input {
	border-radius: 7px;
	background-color: rgb(35, 34, 34);
	border: 1px solid rgb(63, 63, 63);
	outline: none;
	font-size: smaller;
	width: 60%;
	height: 2.3rem;
	color: aliceblue;
	padding: 1rem;
	margin: 2.5%;
}

.note-section button {
	height: 2.5rem;
	width: 10%;
	border-radius: 7px;
	background-color: rgb(11, 91, 101);
	border: 1.5px solid rgb(11, 91, 101);
	color: white;
	outline: none;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.note-section button:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.note-card {
	color: white;
	width: 73%;
	height: 70vh;
	margin: 2% auto;
	padding: 1%;
	text-align: justify;
	font-size: large;
	overflow: scroll;
	scrollbar-width: none;
}

.note-card::-webkit-scrollbar {
	display: none;
}

.note-list {
	background-color: rgb(11, 91, 101);
	padding: 1.5%;
	border: 1.5px solid rgb(11, 91, 101);
	margin: 3.5%;
	outline: none;
	border-radius: 7px;
	cursor: pointer;
}

.note-section ul {
	list-style-type: none;
	padding: 0;
}

.strike {
	text-decoration: line-through;
}
